body {
    font-family: 'Roboto Slab', serif;
    background: #fdfcfb;
    font-weight: normal;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

/*--- Logo -----------------------*/

.logo {
    width: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 30px;

}

.logo_center {
    font-weight: bold;
    float:
}


.red_logo {
    color: red;
}

/*-------------------------------*/

/* Left Navbar ------------------*/

#navbarSupportedContent a:hover {
    background-color: #555;
    color: white;
}

.nav_toggle {
    float: right;
}

/*------------------------------*/

/* Right Navbar */

.right_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;

}

.right_nav ul li {
    display: inline;
}

.right_nav ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, .5);
    padding: .5rem;
}


.right_nav ul li a:hover {
    background-color: #555;
    color: white;
}

/*---------------------------------*/

/*-------- Main -------------------*/

.left-profile {
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .19);
    height: 550px;
    margin-top: 20px;
    margin-bottom: 100px;

}

.left-profile p {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px;

}

.main-profile {
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .19);
    height: 400px;
    margin-top: 20px;

}

.main-profile h4 {
    padding: 20px;
    text-align: center;
}

.main-profile p {
    margin: 0px;
    padding-left: 15px;
    padding-top: 15px;
}

.container h1 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
}




/*----- Footer ------------------------*/

footer {
    color: white;
    background-color: #222;
    width: 100%;
}

footer a {
    color: #bfffff;
}

footer a:hover {
    color: white;
}

.footer-bottom {
    padding: 2em;
}

.footer-middle {
    padding-top: 2em;
}

















/*-------- Breakpoints ----------------*/

@media screen and (min-width: 576px) {
    .nav_bar {
        display: none;
    }

}

@media screen and (max-width: 576px) {
    .main-profile {
        margin-top: 20px;
        margin-bottom: 100px;
    }
    .left-profile {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 575px) {
    .right_nav ul li a {
        padding-left: 0px;
        display: block;
    }

}
