body {
    font-family: 'Roboto Slab', serif;
    background: #fdfcfb;
    font-weight: normal;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

/*--- Logo -----------------------*/

.logo {
    width: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 30px;

}

.logo_center {
    font-weight: bold;
}


.red_logo {
    color: red;
}

/*-------------------------------*/

/* Left Navbar ------------------*/

#navbarSupportedContent a:hover {
    background-color: #555;
    color: white;
}

.nav_toggle {
    float: right;
}

/*------------------------------*/

/* Right Navbar */

.right_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;

}

.right_nav ul li {
    display: inline;
}

.right_nav ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, .5);
    padding: .5rem;
}


.right_nav ul li a:hover {
    background-color: #555;
    color: white;
}

/*---------------------------------*/

/* Main -----------------*/

.main-categories {
    margin-top: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .19);
    padding-bottom: 20px;
}

.main-categories h4 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Filter element --------------*/

.container1 {
    overflow: hidden;
}

.filterDiv {
    float: left;
    background-color: red;
    color: #ffffff;
    width: 100px;
    line-height: 80px;
    text-align: center;
    margin: 5px;
    cursor: pointer;
    display: none;
    /* Hidden by default */
}

.filterDiv p {
    line-height: 0px;
}

/* The "show" class is added to the filtered elements */

.show {
    display: block;
}

/* Style the buttons */

.btn1 {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}

/* Add a light grey background on mouse-over */

.btn1:hover {
    background-color: #ddd;
}

/* Add a dark background to the active button */

.btn1.active1 {
    background-color: #666;
    color: white;
}


/* End filter element -------------*/



/* End Main --------------------*/



/* Lower main -------------------*/


.lower-main{
    margin-top: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .19);
    padding-bottom: 20px;
    margin-bottom: 100px;
}

/* Filter list ---------------*/

#myInput {
    margin-top: 20px;
    width: 100%;
    /* Full-width */
    font-size: 16px;
    /* Increase font-size */
    padding: 12px 20px 12px 20px;
    /* Add some padding */
    border: 1px solid #ddd;
    /* Add a grey border */
    margin-bottom: 12px;
    /* Add some space below the input */
}

#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 1px solid #ddd;
    /* Add a border to all links */
    margin-top: -1px;
    /* Prevent double borders */
    background-color: #f6f6f6;
    /* Grey background color */
    padding: 12px;
    /* Add some padding */
    text-decoration: none;
    /* Remove default text underline */
    font-size: 18px;
    /* Increase the font-size */
    color: black;
    /* Add a black text color */
    display: block;
    /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
    background-color: #eee;
    /* Add a hover effect to all links, except for headers */
}

/* End Filter list ---------------*/

/* End Lower main -----------------*/

/*-- Main -------------------------*/

.main-center {
    margin-bottom: 50px;
}

.main-center h1{
    text-align: center;
    margin-top: 20px;
}

.main-center h4{
    margin-top: 20px;
}


/*----- Footer ------------------------*/

footer {
    color: white;
    background-color: #222;
    width: 100%;
}

footer a {
    color: #bfffff;
}

footer a:hover {
    color: white;
}

.footer-bottom {
    padding: 2em;
}

.footer-middle {
    padding-top: 2em;
}

/*-------- Breakpoints ----------------*/

@media screen and (min-width: 576px) {
    .nav_bar {
        display: none;
    }

}

@media screen and (max-width: 575px) {
    .right_nav ul li a {
        padding-left: 0px;
        display: block;
    }

}
