<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Basket</title>

    <link rel="icon" href="../img/books-piled-bookstore_318-31784.jpg">

    <link rel="stylesheet" href="../css/basket.css">
    <link rel="stylesheet" href="../css/home-adil.css">
    <meta name="description" content="Book Shop">
    <meta name="keywords" content="Book, Shop, Book shop, Buy book, Free Book">
    <meta name="author" content="Nassipolla Adil">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Icons -->
    <link href="../open-iconic-master/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>

<body>
    <div class="logo container">
        <div class="logo_center">
            <span>MAX</span><span class="red_logo">SHOP</span>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="nav_bar">
                <a class="navbar-brand" href="../home.html">Max Shop</a>
            </div>
            <div class="nav_toggle">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
            </button></div>
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More
        </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="media/media.html">Media</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="map/map.html">About us</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Popular</a>

                                <a class="dropdown-item" href="#">Bestsellers</a>

                                <a class="dropdown-item" href="#">Cooming Soon</a>
                            </div>
                        </li>
                        <form class="form-inline">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </ul>
                    <div class="right_nav">
                        <ul>
                            <li><a href="registration/sign_up.html"><span class="oi oi-person"></span> Log in / Sign up</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

<h3>Shopping Cart</h3>
    <main>
        <div class="basket">
            <div class="basket-labels">
                <ul>
                    <li class="item item-heading">Item</li>
                    <li class="price">Price</li>
                    <li class="quantity">Quantity</li>
                    <li class="subtotal">Subtotal</li>
                </ul>
            </div>
            <div class="basket-product">
                <div class="item">
                    <div class="product-image">
                        <img src="http://placehold.it/120x166" alt="Placholder Image 2" class="product-frame">
                    </div>
                    <div class="product-details">
                        <strong><span class="item-quantity">4</span> x Product Name</strong>

                        <p>Product Code - 232321939</p>
                    </div>
                </div>
                <div class="price">26.00</div>
                <div class="quantity">
                    <input type="number" value="4" min="1" class="quantity-field">
                </div>
                <div class="subtotal">104.00</div>
                <div class="remove">
                    <button>Remove</button>
                </div>
            </div>
            <div class="basket-product">
                <div class="item">
                    <div class="product-image">
                        <img src="http://placehold.it/120x166" alt="Placholder Image 2" class="product-frame">
                    </div>
                    <div class="product-details">
                        <strong><span class="item-quantity">1</span> x Product Name</strong>
                        <p>Product Code - 232321939</p>
                    </div>
                </div>
                <div class="price">26.00</div>
                <div class="quantity">
                    <input type="number" value="1" min="1" class="quantity-field">
                </div>
                <div class="subtotal">26.00</div>
                <div class="remove">
                    <button>Remove</button>
                </div>
            </div>
        </div>
        <aside>
            <div class="summary">
                <div class="summary-total-items"><span class="total-items"></span> Items in your Bag</div>
                <div class="summary-subtotal">
                    <div class="subtotal-title">Subtotal</div>
                    <div class="subtotal-value final-value" id="basket-subtotal">130.00</div>
                </div>
                <div class="summary-delivery">
                    <select name="delivery-collection" class="summary-delivery-selection">
              <option value="0" selected="selected">Select Collection or Delivery</option>
             <option value="collection">Collection</option>
             <option value="first-class">Royal Mail 1st Class</option>
             <option value="second-class">Royal Mail 2nd Class</option>
             <option value="signed-for">Royal Mail Special Delivery</option>
          </select>
                </div>
                <div class="summary-total">
                    <div class="total-title">Total</div>
                    <div class="total-value final-value" id="basket-total">130.00</div>
                </div>
                <div class="summary-checkout">
                    <button class="checkout-cta"><a href="checkout.html">Go to Secure Checkout</a></button>
                </div>
            </div>
        </aside>
    </main>

    <footer>
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <!--Column1-->
                        <div class="footer-pad">
                            <h4>Address</h4>
                            <address>
								<ul class="list-unstyled">
									<li>
                    City Hall<br>
										212  Street<br>
										Lawoma<br>
										735<br>
									</li>
									<li>
										Phone: 0
									</li>
								</ul>
							</address>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!--Column1-->
                        <div class="footer-pad">
                            <h4>Popular Services</h4>
                            <ul class="list-unstyled">
                                <li><a href="#"></a></li>
                                <li><a href="#">Payment Center</a></li>
                                <li><a href="#">Contact Directory</a></li>
                                <li><a href="#">Forms</a></li>
                                <li><a href="#">News and Updates</a></li>
                                <li><a href="#">FAQs</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!--Column1-->
                        <div class="footer-pad">
                            <h4>Website Information</h4>
                            <ul class="list-unstyled">
                                <li><a href="#">Website Tutorial</a></li>
                                <li><a href="#">Accessibility</a></li>
                                <li><a href="#">Disclaimer</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Webmaster</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <!--Footer Bottom-->
                        <p class="text-xs-center">&copy; Copyright 2016 - MAXSHOP. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="../js/basket.js"></script>
</body>

</html>
