<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="#{site_title}"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/resources/css/home.css}">
    <link rel="stylesheet" th:href="@{/resources/css/cart.css}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}">
    <!-- jQuery library -->
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
    <!-- Latest compiled JavaScript -->
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
    <!-- Icons -->
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css}"
          rel="stylesheet">
    <!-- Google fonts -->
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto+Slab}" rel="stylesheet">
</head>
<body>
<div class="logo container">
    <div class="logo_center">
        <span>Electronic</span><span class="red_logo">Shop</span>
    </div>
</div>
<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="nav_bar">
            <a class="navbar-brand" th:href="@{/}">Electronic Shop</a>
        </div>
        <div class="nav_toggle">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button></div>
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}"> Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            More
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/reviews}">Reviews</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{/contacts}">Contacts</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{/promotions}">Promotions</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categories
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item"
                               th:each="category:${categories}"
                               th:href="@{${'/catalog/'+category.id}}"
                               th:text="${category.title}">
                                <span th:if="${category.id == 1}" class="badge badge-primary badge-pill">2</span>
                                <span th:if="${category.id == 3}" class="badge badge-secondary">New</span>
                            </a>
                        </div>
                    </li>
                    <form class="form-inline">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </ul>
                <div class="right_nav">
                    <ul th:if="${#request.userPrincipal==null}" >
                        <li>
                            <a th:href="@{/login}"><span
                                    class="oi oi-account-login"></span>Log in / Sign up</a>
                        </li>
                    </ul>
                    <ul th:if="${#request.userPrincipal!=null}" >
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="oi oi-align-center"></span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" th:href="@{/user-page}">
                                    <span class="oi oi-person"></span>My page</a>
                                <a class="dropdown-item" th:href="@{/logout}">
                                    <span class="oi oi-account-logout"></span>Log out</a>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<h3>Shopping Cart</h3>
<main>
    <div class="basket" th:if="${order!=null}">
        <div class="basket-labels">
            <ul>
                <li class="item item-heading">Item</li>
                <li class="price">Price</li>
                <li class="quantity">Quantity</li>
                <li class="subtotal">Subtotal</li>
            </ul>
        </div>
        <div class="basket-product" th:each="pair:${order.products}">
            <div class="item">
                <div class="product-image">
                    <img th:src="@{${'/resources/images/index/products/'+pair.key.path}}" alt="Placholder Image 2" class="product-frame">
                </div>
                <div class="product-details">
                    <strong><span class="item-quantity" th:utext="${pair.key.title}"></span></strong>
                </div>
            </div>
            <div class="price">Price for 1 item: <span th:text="${pair.key.price}"></span></div>
            <div class="quantity">
                <strong><span class="item-quantity" th:text="${pair.value}"></span></strong>
            </div>
            <div class="subtotal" th:text="${pair.key.price}*${pair.value}"></div>
            <div class="remove">
                <button th:href="@{${'/cart-remove/'+pair.key.title}}">Remove</button>
            </div>
        </div>
    </div>
    <div class="basket" th:if="${order==null}">
        <div class="basket-labels">
            <ul>
                <li class="item item-heading">Item</li>
                <li class="price">Price</li>
                <li class="quantity">Quantity</li>
                <li class="subtotal">Subtotal</li>
            </ul>
        </div>
        <div>
            <h4>There are no products in your cart. Buy something!</h4>
        </div>
    </div>
    <aside>
        <div class="summary">
            <div class="summary-total-items"><span class="total-items"></span> Items in your Bag</div>
            <div class="summary-subtotal">
                <div class="subtotal-title">Address</div>
                <div class="subtotal-value final-value" id="basket-subtotal" th:text="${order.address}"></div>
            </div>
            <div class="summary-subtotal">
                <div class="subtotal-title">Date</div>
                <div class="subtotal-value final-value" id="basket-subtotal" th:text="${order.date}"></div>
            </div>
            <div class="summary-subtotal">
                <div class="subtotal-title">Name of receiver</div>
                <div class="subtotal-value final-value" id="basket-subtotal" th:text="${order.username}"></div>
            </div>
            <div class="summary-total">
                <div class="total-title">Total</div>
                <div class="total-value final-value" id="basket-total" th:text="${order.price}"></div>
            </div>
            <div class="summary-checkout">
                <button class="checkout-cta"><a href="#">Go to Secure Checkout</a></button>
            </div>
        </div>
    </aside>
</main>
<footer>
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>Address</h4>
                        <address>
                            <ul class="list-unstyled">
                                <li>
                                    City Hall<br>
                                    212 Street<br>
                                    Lawoma<br>
                                    735<br>
                                </li>
                                <li>
                                    Phone: 0
                                </li>
                            </ul>
                        </address>
                    </div>
                </div>
                <div class="col-md-4">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>How to buy the product?</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">Shipping</a></li>
                            <li><a href="#">Payment</a></li>
                            <li><a href="#">Conditions of return</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>Contacts</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Technical support</a></li>
                            <li>
                                <div id="google_translate_element"></div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!--Footer Bottom-->
                    <p class="text-xs-center">&copy; Copyright 2016 - Electronic Shop. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" th:src="@{/resources/js/cart.js}"/>
</body>
</html>