<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="#{site_title}"></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{resources/css/index_old.css}">
</head>
<body>
<p><span th:utext="${category}"></span></p>
<div th:each="product:${products}">
    <a th:href="@{${'/product/'+product.id}}">
        <img th:src="@{${'/resources/images/index/products/'+product.path}}" alt="img"></a>
    <p th:utext="${product.title}">Art of War</p>
    <h3 th:text="${product.price}">$85</h3>
</div>
</body>
</html>