<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="#{site_title}"></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/resources/css/reviews.css}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}">
    <!-- Google fonts -->
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto+Slab}" rel="stylesheet">
    <!-- Icons -->
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css}"
          rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
    <!-- jQuery library -->
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
    <!-- Google translate -->
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en'
            }, 'google_translate_element');
        }
    </script>
    <script type="text/javascript"
            src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>
<body>
<div class="logo container">
    <div class="logo_center">
        <span>Electronic</span><span class="red_logo">Shop</span>
    </div>
</div>
<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="nav_bar">
            <a class="navbar-brand" th:href="@{/}">Electronic Shop</a>
        </div>
        <div class="nav_toggle">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            More
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/reviews}">Reviews</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{/contacts}">Contacts</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{/promotions}">Promotions</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#" id="navbarDropdown"
                           role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">
                            Categories
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item"
                               th:each="category:${categories}"
                               th:href="@{${'/catalog/'+category.id}}"
                               th:text="${category.title}">
                                <span th:if="${category.id == 1}" class="badge badge-primary badge-pill">2</span>
                                <span th:if="${category.id == 3}" class="badge badge-secondary">New</span>
                            </a>
                        </div>
                    </li>
                    <form class="form-inline">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </ul>
                <div class="right_nav">
                    <ul>
                        <li>
                            <a th:if="${#request.userPrincipal==null}" th:href="@{/login}"><span
                                    class="oi oi-person"></span>Log in / Sign up</a>
                        </li>
                        <li>
                            <a th:if="${#request.userPrincipal!=null}" th:href="@{/logout}"><span
                                    class="glyphicon glyphicon-log-out"></span>Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>


<div class="container">
    <div class="jumbotron main">
        <div class="container">
            <h1 class="display-4">Our Address</h1>
            <p class="lead">
                Pawia. 55
            </p>
            <p class="lead">
                Number telephone: +48 459 658 178
            </p>
            <p class="lead">
                Fax: +48 459 658 178
            </p>
        </div>
    </div>


    <div class="map">
        <div id="map" style="width:100%;height:400px;"></div>

        <script>
            function initMap() {
                var uluru = {
                    lat: 52.244060,
                    lng: 20.982176
                };
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: uluru
                });
                var marker = new google.maps.Marker({
                    position: uluru,
                    map: map
                });
            }
        </script>

        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvpKC_BACdStnyLnLFMtlESn2eUdJm-lI&callback=initMap">
        </script>
    </div>

</div>


<footer>
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>Address</h4>
                        <address>
                            <ul class="list-unstyled">
                                <li>
                                    City Hall<br>
                                    212 Street<br>
                                    Lawoma<br>
                                    735<br>
                                </li>
                                <li>
                                    Phone: 0
                                </li>
                            </ul>
                        </address>
                    </div>
                </div>
                <div class="col-md-4">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>How to buy the product?</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">Shipping</a></li>
                            <li><a href="#">Payment</a></li>
                            <li><a href="#">Conditions of return</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>Contacts</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Technical support</a></li>
                            <li>
                                <div id="google_translate_element"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!--Footer Bottom-->
                    <p class="text-xs-center">&copy; Copyright 2016 - Electronic Shop. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>