<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="#{site_title}"></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" th:href="@{resources/css/index.css}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}">
    <!-- Google fonts -->
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto+Slab}" rel="stylesheet">
    <!-- Icons -->
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css}"
          rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
    <!-- jQuery library -->
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
    <!-- Google translate -->
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en'
            }, 'google_translate_element');
        }

    </script>
    <script type="text/javascript"
            src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>
<body>
<div class="container demo">
    <ul class="breadcrumb">
        <li><a th:href="@{/}">Home</a></li>
        <li class="active">Product</li>
    </ul>
    <div class="main clearfix">
        <div class="img">
            <picture>
                <img th:src="@{${'/resources/images/index/products/'+product.path}}" alt="product_picture">
            </picture>
        </div>
        <div class="description">
            <div class="des" th:if="${product!=null}">
                <h1 th:utext="${product.title}"></h1>
                <p>Status:
                    <span th:if="${product.count>0}">In stock</span>
                    <span th:if="${product.count<=0}">No stock</span>
                </p>
            </div>
            <div class="price" th:if="${product!=null}">
                <h2>Our price: <span th:text="${product.price}"></span></h2>
                <a th:href="@{/cart}"><img th:src="@{/resources/images/product/addtocart.png}" alt="add cart"></a>
            </div>
        </div>
    </div>

    <div class="comment clearfix">
        <div class="leftcolumn">
            <!-- Навигационные вкладки -->
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
                                                          data-toggle="tab">Product Information</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Feedbacks</a>
                </li>
            </ul>

            <!-- Вкладки панелей -->
            <div class="tab-content clearfix" th:if="${product!=null}">
                <div roleEnum="tabpanel" class="tab-pane active" id="home">
                    <p class="demo_1" th:utext="${product.description}"></p>
                    <div th:if="${feedbacks==null}">
                        <div class="des">
                            <h4>There are no feedbacks about the product. Be first!</h4>
                        </div>
                    </div>
                    <div th:if="${feedbacks != null}">
                        <div class="des">
                            <h4>Here you can leave your feedback about the product!</h4>
                        </div>
                    </div>
                    <div class="clearfix" th:if="${#request.userPrincipal!=null}">
                        <form class="navbar-form navbar-left" method="post" action=""
                              th:action="@{${'/product/'+product.id}}">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Feedback text" name="text">
                                <div class="input-group-btn">
                                    <button>Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix" th:if="${#request.userPrincipal==null}">You have no rights to leave a feedback</div>
                    <div class="description" th:if="${feedbacks != null}">
                        <div class="des" th:each="feedback:${feedbacks}">
                            <div class="feedback">
                                <p th:text="${feedback.text}"></p>
                                <p>Posted by: <span th:text="${feedback.user.username}"></span></p>
                                <p>Date: <span th:text="${feedback.date}"></span></p>
                                <hr/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="undercolumn inline">
            <div class="card inline">
                <h3>You may also like</h3>
                <div class="fakeimg inline">
                    <div class="img-1">
                        <img th:src="@{/resources/images/index/products/product1.jpg}" alt="product_image">
                    </div>
                    <div class="text">
                        <p>Product title</p>
                        <p class="text_1">$50</p>
                    </div>
                </div>
                <div class="fakeimg inline">
                    <div class="img-1">
                        <img th:src="@{/resources/images/index/products/product2.jpg}" alt="product_image">
                    </div>
                    <div class="text">
                        <p>Product title</p>
                        <p class="text_1">$50</p>
                    </div>
                </div>
                <div class="fakeimg inline">
                    <div class="img-1">
                        <img th:src="@{/resources/images/index/products/product3.jpg}" alt="product_image">
                    </div>
                    <div class="text">
                        <p>Product title</p>
                        <p class="text_1">$50</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
