<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{site_title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}">
    <!-- jQuery library -->
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
    <!-- Latest compiled JavaScript -->
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
    <!-- Icons -->
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css}"
          rel="stylesheet">
    <!-- Add icon library -->
    <link rel="stylesheet"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
    <!-- Google fonts -->
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto+Slab}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{resources/css/product.css}">
</head>
<body>
<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header ">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}" th:text="#{site_title}"></a>
            </div>

            <form class="navbar-form navbar-left" method="post" action="" th:action="@{/search}">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="title">
                    <div class="input-group-btn">
                        <button class="btn btn-default">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a th:href="@{/}">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" roleEnum="button"
                           aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/promotions}">Our promotions</a></li>
                            <li><a th:href="@{/reviews}">Reviews</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/sign_up}"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
                    <li><a th:if="${#request.userPrincipal!=null}" th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
                    <li><a th:if="${#request.userPrincipal==null}" th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container demo">
    <ul class="breadcrumb">
        <li><a th:href="@{/}">Home</a></li>
        <li class="active">Our promotions</li>
    </ul>
    <div class="main clearfix">
        <div class="img">
            <picture>
                <source th:src="@{/resources/images/promotions/promotion1.jpg}" media="(max-width: 500px)">
                <img th:src="@{/resources/images/promotions/promotion1.jpg}" alt="product_picture">
            </picture>
        </div>
        <div class="description">
            <div class="des">
                <p th:text="${promotion}"></p>
                <!--<h1 th:utext="${product.title}"></h1>-->
                <!--<p>Status:-->
                    <!--<span th:if="${product.count>0}">In stock</span>-->
                    <!--<span th:if="${product.count<=0}">No stock</span>-->
                <!--</p>-->
            </div>
            <!--<div class="price" th:if="${product!=null}">-->
                <!--<h2>Our price: <span th:text="${product.price}"></span></h2>-->
                <!--<a th:href="@{/cart}"><img th:src="@{/resources/images/product/addtocart.png}" alt="add cart"></a>-->
            <!--</div>-->
        </div>
    </div>
    <div class="main clearfix">
        <div class="img">
            <picture>
                <source th:src="@{/resources/images/promotions/promotion2.jpg}" media="(max-width: 500px)">
                <img th:src="@{/resources/images/promotions/promotion2.jpg}" alt="product_picture">
            </picture>
        </div>
        <div class="description">
            <div class="des">
                <p th:text="${promotion}"></p>
                <!--<h1 th:utext="${product.title}"></h1>-->
                <!--<p>Status:-->
                <!--<span th:if="${product.count>0}">In stock</span>-->
                <!--<span th:if="${product.count<=0}">No stock</span>-->
                <!--</p>-->
            </div>
            <!--<div class="price" th:if="${product!=null}">-->
            <!--<h2>Our price: <span th:text="${product.price}"></span></h2>-->
            <!--<a th:href="@{/cart}"><img th:src="@{/resources/images/product/addtocart.png}" alt="add cart"></a>-->
            <!--</div>-->
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <ul class="list-unstyled">
                    <li>How to buy the product?
                    <li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Payment</a></li>
                    <li><a href="#">Conditions of return</a></li>
                </ul>
            </div>
            <div class="col-xs-3">
                <ul class="list-unstyled">
                    <li>Contacts
                    <li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Technical support</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-4">
                <p class="text-muted pull-right">© 2018 Electronic shop. All rights reserved</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>