<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Promotions</title>

    <link rel="icon" href="../img/books-piled-bookstore_318-31784.jpg">

    <link rel="stylesheet" href="../css/promotions.css">
    <meta name="description" content="Book Shop">
    <meta name="keywords" content="Book, Shop, Book shop, Buy book, Free Book">
    <meta name="author" content="Nassipolla Adil">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Icons -->
    <link href="../open-iconic-master/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

</head>

<body>


    <div class="logo container">
        <div class="logo_center">
            <span>MAX</span><span class="red_logo">SHOP</span>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="nav_bar">
                <a class="navbar-brand" href="../home.html">Max Shop</a>
            </div>
            <div class="nav_toggle">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
            </button></div>
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More
        </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="media/media.html">Media</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="map/map.html">About us</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="map/map.html">Promotions</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Popular</a>

                                <a class="dropdown-item" href="#">Bestsellers</a>

                                <a class="dropdown-item" href="#">Cooming Soon</a>
                            </div>
                        </li>
                        <form class="form-inline">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </ul>
                    <div class="right_nav">
                        <ul>
                            <li><a href="registration/sign_up.html"><span class="oi oi-person"></span> Log in / Sign up</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="main">
            <h3>Promotions</h3>




            <div class="row card-style">

                <div class="col-sm-4 left-card">
                    <img src="../img/discount.jpg" class="img-fluid" alt="img">
                </div>

                <div class="col-sm-8 right-card">
                    <h4>Lorem Ipsum</h4>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>

            </div>

            <div class="row card-style">

                <div class="col-sm-4 left-card">
                    <img src="../img/2015militarydiscount.1447175211.1476991013.png" class="img-fluid" alt="img">
                </div>

                <div class="col-sm-8 right-card">
                    <h4>Lorem Ipsum</h4>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>

            </div>

            <div class="row card-style">

                <div class="col-sm-4 left-card">
                    <img src="../img/2016-05-12-discount-ladder-podcast-1-1.jpg" class="img-fluid" alt="img">
                </div>

                <div class="col-sm-8 right-card">
                    <h4>Lorem Ipsum</h4>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>

            </div>

            <div class="row card-style">

                <div class="col-sm-4 left-card">
                    <img src="../img/27214592931d6ec297af2a59b358c874_senior-discounts-list-all-580x326_featuredImage.jpg" class="img-fluid" alt="img">
                </div>

                <div class="col-sm-8 right-card">
                    <h4>Lorem Ipsum</h4>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>

            </div>

        </div>


    </div>

</body>
</html>