<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Media</title>

    <link rel="stylesheet" href="../css/media.css">
    <meta name="description" content="Book Shop">
    <meta name="keywords" content="Book, Shop, Book shop, Buy book, Free Book">
    <meta name="author" content="Nassipolla Adil">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Icons -->
    <link href="open-iconic-master/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <!-- Google translate -->
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en'
            }, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</head>

<body>



    <div class="logo container">
        <div class="logo_center">
            <span>MAX</span><span class="red_logo">SHOP</span>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="nav_bar">
                <a class="navbar-brand" href="../home.html">Max Shop</a>
            </div>
            <div class="nav_toggle">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
            </button></div>
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="../home.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More
        </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="media.html">Media</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="../map/map.html">Map</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">About us</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Popular</a>

                                <a class="dropdown-item" href="#">Bestsellers</a>

                                <a class="dropdown-item" href="#">Cooming Soon</a>
                            </div>
                        </li>
                        <form class="form-inline">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </ul>
                    <div class="right_nav">
                        <ul>
                            <li><a href="../registration/sign_up.html"><span class="oi oi-person"></span> Log in / Sign up</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>



    <div class="container">
        <div class="main-center">
            <h1>
                Media
            </h1>

            <h4>
                What is Lorem Ipsum?
            </h4>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <div class="embed-responsive embed-responsive-21by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/f2JtMepnzPg?rel=0" allowfullscreen></iframe>
            </div>
            <h4>
                What is Lorem Ipsum?
            </h4>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <div class="embed-responsive embed-responsive-21by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/B74ZQW_QUaw?rel=0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    
    
        <footer>
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <!--Column1-->
                        <div class="footer-pad">
                            <h4>Address</h4>
                            <address>
								<ul class="list-unstyled">
									<li>
                    City Hall<br>
										212  Street<br>
										Lawoma<br>
										735<br>
									</li>
									<li>
										Phone: 0
									</li>
								</ul>
							</address>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!--Column1-->
                        <div class="footer-pad">
                            <h4>Popular Services</h4>
                            <ul class="list-unstyled">
                                <li><a href="#"></a></li>
                                <li><a href="#">Payment Center</a></li>
                                <li><a href="#">Contact Directory</a></li>
                                <li><a href="#">Forms</a></li>
                                <li><a href="#">News and Updates</a></li>
                                <li><a href="#">FAQs</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!--Column1-->
                        <div class="footer-pad">
                            <h4>Website Information</h4>
                            <ul class="list-unstyled">
                                <li><a href="#">Website Tutorial</a></li>
                                <li><a href="#">Accessibility</a></li>
                                <li><a href="#">Disclaimer</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Webmaster</a></li>
                                <li>
                                    <div id="google_translate_element"></div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <!--Footer Bottom-->
                        <p class="text-xs-center">&copy; Copyright 2016 - MAXSHOP. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>