<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="#{site_title}"></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/resources/css/search.css}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}">
    <!-- jQuery library -->
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
    <!-- Latest compiled JavaScript -->
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
    <!-- Icons -->
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css}"
          rel="stylesheet">
    <!-- Add icon library -->
    <link rel="stylesheet"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
    <!-- Google fonts -->
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto+Slab}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/resources/js/search.js}"/>
    <!-- Google translate -->
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en'
            }, 'google_translate_element');
        }
    </script>
    <script type="text/javascript"
            src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>
<body>
<div class="logo container">
    <div class="logo_center">
        <span>Electronic</span><span class="red_logo">Shop</span>
    </div>
</div>
<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="nav_bar">
            <a class="navbar-brand" th:href="@{/}">Electronic Shop</a>
        </div>
        <div class="nav_toggle">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}"><span class="oi oi-home"></span>Home<span class="sr-only"> (current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            More
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/reviews}">Reviews</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{/contacts}">Contacts</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{/promotions}">Promotions</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categories
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item"
                               th:each="category:${categories}"
                               th:href="@{${'/catalog/'+category.id}}"
                               th:text="${category.title}">
                                <span th:if="${category.id == 1}" class="badge badge-primary badge-pill">2</span>
                                <span th:if="${category.id == 3}" class="badge badge-secondary">New</span>
                            </a>
                        </div>
                    </li>
                </ul>
                <div class="right_nav">
                    <ul th:if="${#request.userPrincipal==null}" >
                        <li>
                            <a th:href="@{/login}"><span
                                    class="oi oi-account-login"></span>Log in / Sign up</a>
                        </li>
                    </ul>
                    <ul th:if="${#request.userPrincipal!=null}" >
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="oi oi-align-center"></span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" th:href="@{/user-page}">
                                    <span class="oi oi-person"></span>My page</a>
                                <a class="dropdown-item" th:href="@{/logout}">
                                    <span class="oi oi-account-logout"></span>Log out</a>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <br>
    <div class="row">
        <div class="col-md-12 lower-main">
            <form method="post" action="" th:action="@{/search}">
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for books.." name="title">
                <div id="myBtnContainer">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </div>
            </form>
            <hr style="width: 5px">
            <!--<div>-->
                <!--<div class="img">-->
                    <!--<picture>-->
                        <!--<source th:src="@{${'/resources/images/index/products/'+product.path}}">-->
                    <!--</picture>-->
                <!--</div>-->
                <!---->
            <!--</div>-->
            <ul id="myUL" th:each="product:${products}">
                <li>
                    <a href="#">
                        <img th:src="@{${'/resources/images/index/products/'+product.path}}" media="(max-width: 500px)" alt="product">
                    </a>
                    <div class="description">
                        <div class="des">
                            <h5 th:text="${product.title}"></h5>
                        </div>
                        <div class="price">
                            <h6 th:text="${product.price}"></h6>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<footer>
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>Address</h4>
                        <address>
                            <ul class="list-unstyled">
                                <li>
                                    City Hall<br>
                                    212 Street<br>
                                    Lawoma<br>
                                    735<br>
                                </li>
                                <li>
                                    Phone: 0
                                </li>
                            </ul>
                        </address>
                    </div>
                </div>
                <div class="col-md-4">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>How to buy the product?</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">Shipping</a></li>
                            <li><a href="#">Payment</a></li>
                            <li><a href="#">Conditions of return</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>Contacts</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Technical support</a></li>
                            <li>
                                <div id="google_translate_element"></div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!--Footer Bottom-->
                    <p class="text-xs-center">&copy; Copyright 2016 - Electronic Shop. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>