<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{resources/css/sign_up.css}">
    <script th:src="@{resources/js/sign_up.js}"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header ">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>                        
                    </button>
                    <a class="navbar-brand" th:href="@{/}">Book Shop</a>
                </div>

                <form class="navbar-form navbar-left">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="search">
                        <div class="input-group-btn">
                            <button class="btn btn-default">
            <i class="glyphicon glyphicon-search"></i>
          </button>
                        </div>
                    </div>
                </form>

                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a th:href="@{/}">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" roleEnum="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/promotions}">Our promotions</a></li>
                                <li><a th:href="@{/reviews}">Reviews</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a th:href="@{/sign_up}"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
                        <li><a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="ads_right">
        <a href="#">
        <img th:src="@{/resources/images/sign_up/review.jpg}" alt="ads">
    </a>

    </div>

    <div class="main">
        <div class="row demo_1">
            <div class="col-md-6 col-sm-12 col-lg-6 col-md-offset-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">Enter Your Details Here
                    </div>
                    <div class="panel-body">
                        <form name="myform" method="post" action="" th:action="@{/sign_up}" modelAttribute="user">
                            <div class="form-group">
                                <label for="name">Name *</label>
                                <input id="name" th:name="name" class="form-control" type="text" data-validation="required" th:value="name">
                                <span id="error_name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="email">Email *</label>
                                <input id="email" name="email" class="form-control" type="text" data-validation="email" required="true" th:value="email">
                                <span id="error_email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="password">Password *</label>
                                <input id="password" name="password" class="form-control" type="text" required="true" th:value="pass">
                                <span id="error_password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="credit_card">Credit card number *</label>
                                <input id="credit_card" name="card" class="form-control" type="number" required="true" th:value="1111111111">
                                <span id="error_credit_card" class="text-danger"></span>
                            </div>
                            <button id="submit" type="submit" value="submit" class="btn btn-primary center">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="footer demo">
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <ul class="list-unstyled">
                        <li>How to buy the product?
                        <li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Payment</a></li>
                        <li><a href="#">Conditions of return</a></li>
                    </ul>
                </div>
                <div class="col-xs-3">
                    <ul class="list-unstyled">
                        <li>Contacts
                        <li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Technical support</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-4">
                    <p class="text-muted pull-right">© 2018 Electronic shop. All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>